<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StandardOutPath</key>
	<string>/var/log/perspective/stdr.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/perspective/stderr.log</string>
	<key>EnvironmentVariables</key>
	<dict/>
	<key>GroupName</key>
	<string>daemon</string>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>perspective</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string><specify the location of perspective root folder>/perspective-startup-scripts/osx/startup.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>build-server</string>
	<key>SessionCreate</key>
	<true/>
</dict>
</plist>
